* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background-color: #F2F2F2;
}
.flex {
    display: flex;
}
.banner {
    background: #AAAAAA;
    max-width: 2480px;
    min-height: 100vh;
    margin: 0 auto;
}
.shadow {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.0001) 100%), rgba(170, 170, 170, 0.0001);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
}
.burger-icon {
    display: none;
    width: 28px;
    height: 16px;
}
.burger-icon div {
    background-color: #DADADA;
    width: 24px;
    height: 4px;
}
.burger-line {
    margin-top: 10px;
}
header {
    justify-content: space-evenly;
    align-items: center;
}
header h1 {
    font-family: 'Zapfino';
    color: #FFFFFF;
    font-size: 28px;
    line-height: 150px;
    letter-spacing: -1.1px;
}
header a, header p {
    text-decoration: none;
    font-size: 23px;
    color: #FFFFFF;
    margin-left: 40px;
    letter-spacing: 0.4px;
    font-family: 'Playfair Display';
}
header p {
    margin-left: 0px;
}
header ul {
    list-style: none;
}
.icon-item {
    width: 37px;
    height: 38px;
    margin-left: 5px;
}
.icon-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-right-side {
    align-items: center;
}
.middle-content {
    align-items: center;
    margin-top: 170px;
    flex-direction: column;
}
.banner .middle-content h2 {
    font-family: 'Montserrat';
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 2.4px;
}
.banner .middle-content p {
    font-family: 'Playfair Display';
    font-size: 58px;
    line-height: 124px;
    letter-spacing: -1px;
    max-width: 800px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}
.middle-content button {
    background-color: #D69991;
    padding: 25px 65px;
    border: none;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;
}
.browse-more-wrpaper {
    margin-top: 170px;
    margin: 0 auto;
    width: 127px;
    height: 186px;
    margin-top: 170px;
}
.browse-more-wrpaper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width: 1024px) {
    .burger-icon {
        display: block;
    }
    .unordered-list {
        display: none;
    }
    .header-right-side {
        display: none;
    }
    header h1 {
        font-size: 22px;
    }
    header {
        justify-content: space-around;
    }
    .middle-content {
        margin-top: 106.5px;
    }
    .banner .middle-content h2 {
        font-size: 20px;
    }
    .banner .middle-content p {
        font-size: 38px;
        line-height: 48px;
        max-width: 339px;
        text-align: center;
    }
    .middle-content button {
        margin-top: 29px;
        padding: 15px 32px;
        font-size: 12px;
    }
    .browse-more-wrpaper {
        margin-top: 124px;
        width: 83px;
        height: 91px;
    }
    .middle-content p span {
        display: none;
    }
}