* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
}
body {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.banner {
    background: #AAAAAA;
    max-width: 2480px;
    min-height: 100vh;
    margin: 0 auto;
}
.shadow {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.0001) 100%), rgba(170, 170, 170, 0.0001);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
}

/* Mobile Navigation and Header */
.burger-icon {
    display: none;
    width: 28px;
    height: 16px;
}

.burger-icon div {
    background-color: #DADADA;
    width: 24px;
    height: 4px;
}
.burger-icon-black div {
    background-color: #222222;
}
.burger-line {
    margin-top: 10px;
}
.hide {
    right: -100%;
}
.show {
    right: 0;
}
nav {
    height: 100%;
}
.mobile-navigation {
    background-color: #222222;
    position: fixed;
    /* left: 0; */
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: right 0.5s;
}
.mobile-nav ul {
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    height: 100%;
}
.mobile-nav li {
    margin-bottom: 20px;
}
.mobile-navigation a {
    text-decoration: none;
    font-size: 38px;
    color: #FFFFFF;
    letter-spacing: 0.4px;
    font-family: 'Playfair Display';
}
.mobile-navigation-top {
    align-items: center;
    justify-content: space-around;
}
.closer-wrapper {
    width: 22px;
    height: 22px;
}
.closer-wrapper img{
    width: 100%;
    height: 100%;
}
header {
    justify-content: space-evenly;
    align-items: center;
    max-width: 2122px;
    margin: 0 auto;
}
header h1 {
    font-family: 'Zapfino';
    color: #FFFFFF;
    font-size: 28px;
    line-height: 150px;
    letter-spacing: -1.1px;
}
header .blackh1 {
    color: #222222;
}
.desktop-navigation a, header p {
    text-decoration: none;
    font-size: 23px;
    color: #FFFFFF;
    margin-left: 40px;
    letter-spacing: 0.4px;
    font-family: 'Playfair Display';
}
.black-unorederd-list a, .black-header-right-side p  {
    color: #888888;
}
header p {
    margin-left: 0px;
}
header ul {
    list-style: none;
}
.icon-item {
    width: 37px;
    height: 38px;
    margin-left: 5px;
}
.icon-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-right-side {
    align-items: center;
}

/* Landing Page Middle content */
.middle-content {
    align-items: center;
    margin-top: 15vh;
    flex-direction: column;
}
.banner .middle-content h2 {
    font-family: 'Montserrat';
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 2.4px;
}
.banner .middle-content p {
    font-family: 'Playfair Display';
    font-size: 58px;
    line-height: 124px;
    letter-spacing: -1px;
    max-width: 800px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}
.more-button {
    background-color: #D69991;
    padding: 25px 65px;
    border: none;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
.more-button::after {
    background-image: url(./photos/button-arrow.png);
    display: block;
    background-size: 19px 20px;
    margin-left: 10px;
    width: 19px;
    height: 20px;
    content: "";
}
.browse-more-wrapper {
    margin-top: 170px;
    margin: 0 auto;
    width: 127px;
    height: 186px;
    margin-top: 170px;
    cursor: pointer;
}
.browse-more-wrapper a {
    width: 100%;
}
.browse-more-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Home Page */
.about {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 86.5px;
    align-items: center;
}
.container {
    max-width: 2122px;
    margin: 0 auto;
}
.photographer-wrapper {
    height: 1244px;
}
.photographer-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.my-story {
    background-color: #FFFFFF;
    min-height: 1003px;
    margin-left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 120px 240px 0px rgba(15, 15, 15, 0.16);
}
.my-story-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.my-story h4, .work-text-wrapper h4 {
    font-size: 26px;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    color: #D6A091;
}
.my-story h3, .work-text-wrapper h3 {
    max-width: 700px;
    font-family: 'Playfair Display';
    font-size: 58px;
    line-height: 104px;
    color: #333333;
    letter-spacing: -2.2px;
    margin-top: 10px;
}
.my-story p {
    font-family: 'Montserrat';
    color: #888888;
    line-height: 30px;
    letter-spacing: 0.7px;
    max-width: 600px;
    margin-top: 40px;
}
.more-button-home {
    margin-top: 70px;
}

/* Home Page Work Section */
.my-work {
    width: 100%;
    background-color: #EFE9E8;
}
.my-work-item {
    margin-top: 220px;
    height: 1249px;
    justify-content: center;
    align-items: center;
}
.work-text-wrapper {
    margin-left: 15px;
}
.my-work h3 {
    max-width: 500px;
}
.swiper {
    width: 100%;
    height: 90%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}
.swiper-pagination-bullet {
    background-color: white;
}
.work-photos-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work-photos-wrapper {
    box-shadow: 0px 80px 160px rgba(15, 15, 15, 0.16);

}
.work-photos-item1, .work-photos-item2 {
    max-width: 722px;
    min-height: 1049px;
    position: relative;
}
.work-photos-item2 {
    margin-left: 30px;
    margin-right: -300px;
}
.text-over-photo {
    position: absolute;
    margin-top: -200px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.text-over-photo h4 {
    font-size: 50px;
    font-family: 'Playfair Display';
    color: #FFFFFF;
    letter-spacing: -1px;
}
.text-over-photo p {
    font-family: 'Montserrat';
    font-size: 22px;
    color: #FFFFFF;
}
.text-over-photo p span {
    margin-left: 40px;
}
.hidden-line {
    display: none;
}
.line {
    width: 25px;
    height: 6px;
    background-color: #FFFFFF;
    margin-top: 20px;
}
.hidden-line {
    width: 10px;
    height: 2.5px;
    background-color: #FFFFFF;
    margin-top: 0px;
}

/* Work Page */
.briliant-measure {
    max-width: 2203px;
    height: 642px;
    position: relative;
}
.briliant-measure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.briliant-text-over-photo {
    position: absolute;
    margin-top: -340px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.briliant-text-over-photo h4 {
    font-size: 84px;
    font-family: 'Playfair Display';
    color: #FFFFFF;
    letter-spacing: -1px;
}
.briliant-text-over-photo p {
    font-family: 'Montserrat';
    font-size: 28px;
    color: #FFFFFF;
}
.briliant-bottom-text {
    align-items: center;
    margin-top: 30px;
}
.briliant-line1, .briliant-line2 {
    width: 25px;
    height: 6px;
    background-color: #FFFFFF;
}
.briliant-line1 {
    margin-right: 30px;
}
.briliant-line2 {
    margin-left: 30px;
}
.albums-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 723px;
    gap: 60px;
    margin-top: 15px;
    margin-top: 269px;
}
.album-item {
    position: relative;
    box-shadow: 0px 60px 120px 0px rgba(15, 15, 15, 0.16);
}
.album-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*About Page Location Section  */
.new-york-wrapper {
    max-width: 1400px;
    height: 900px;
    margin: 0 auto;
    margin-top: 190px;
}
.new-york-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.location-text-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 450px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 4;
    margin-top: -350px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 100px 200px 0px rgba(15, 15, 15, 0.2);
}
.location-icon-wrapper {
    max-width: 170px;
    height: 169px;
    margin-top: 75px;
}
.location-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.location-text-wrapper h3 {
    font-family: 'Playfair Display';
    font-size: 50px;
    color: #222222;
    letter-spacing: -1.8px;
    margin-top: 28px;
}
.location-text-wrapper p {
    font-family: 'Montserrat';
    color: #888888;
    letter-spacing: 0.7px;
    line-height: 48px;
    max-width: 1200px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.location-text-item {
    flex-direction: column;
    align-items: center;
}
/* About Page Question Section */
.questions-header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.questions-header h4 {
    font-size: 35px;
    color: #D6A091;
    letter-spacing: 2px;
    font-family: 'Montserrat';
}
.questions-header h2 {
    font-size: 80px;
    color: #333333;
    letter-spacing: -2.2px;
    font-family: 'Playfair Display';
    margin-top: 30px;
}
.questions-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 120px;
}
.question-box {
    background-color: white;
    box-shadow: 0px 100px 200px 0px rgba(15, 15, 15, 0.1);
}
.question-text-wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.question-number {
    color: #D69991;
    font-family: 'Montserrat';
    font-size: 26px;
}
.question-text-wrapper h3 {
    font-family: 'Playfair Display';
    color: #222222;
    line-height: 60px;
    font-size: 50px;
    margin-top: 30px;
}
.question-text-wrapper p {
    color: #888888;
    font-size: 28px;
    max-width: 874px;
    line-height: 48px;
    font-family: 'Montserrat';
    letter-spacing: 0.7px;
    margin-top: 30px;
}

/* Contact Page */
.contact-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.form-header p {
    font-size: 34px;
    font-family: 'Montserrat';
    color: #D6A091;
    letter-spacing: 2px;
    text-align: center;
}
.form-header h2 {
    color: #333333;
    font-family: 'Playfair Display';
    letter-spacing: -2.2px;
    font-size: 70px;
}
@media (max-width: 1024px) {
    .shadow {
        background: radial-gradient(circle,  rgba(34,34,34,0.5) 20%, rgb(75, 75, 75) 86%);
    }
    .burger-icon {
        display: block;
    }
    .desktop-navigation {
        display: none;
    }
    .header-right-side {
        display: none;
    }
    header h1 {
        font-size: 22px;
    }
    header {
        justify-content: space-around;
        width: 90%;
    }
    .middle-content {
        margin-top: 106.5px;
    }
    .banner .middle-content h2 {
        font-size: 20px;
    }
    .banner .middle-content p {
        font-size: 38px;
        line-height: 48px;
        max-width: 339px;
        text-align: center;
    }
    .more-button {
        margin-top: 29px;
        padding: 15px 32px;
        font-size: 12px;
    }
    .more-button::after {
        background-size: 15px 16px;
        width: 15px;
        height: 16px;
    }
    .browse-more-wrapper {
        margin-top: 124px;
        width: 83px;
        height: 91px;
    }
    .middle-content p span {
        display: none;
    }
    .my-story {
        min-height: 463px;
    }
    .my-story h4 {
        font-size: 16px;
    }
    .my-story h3 {
        font-size: 36px;
        line-height: 50px;
        letter-spacing: -1.8px;
    }
    .my-story p {
        font-size: 14px;
        line-height: 24px;
    }
    .about {
        display: block;
        margin-top: 0px;
    }
    .photographer-wrapper {
        display: none;
    }
    .my-story {
        margin-left: 0px;
    }
    .my-story-item {
        width: 90%;
        margin: 0 auto;
    }


    /* Home Page Work Secgtion */
    .my-work {
        margin-top: 0px;
        justify-content: unset;
        align-items: normal;
        min-height: 860px;
    }
    .my-work-item {
        margin: 0 auto;
        align-items: normal;
        justify-content: unset;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }

    .work-text-wrapper h4 {
        font-size: 16px;
    }
    .work-text-wrapper h3 {
        font-size: 36px;
        letter-spacing: -1.8px;
        line-height: 46px;
        
    }
    .work-text-wrapper {
        margin-top: 70px;
        margin-left: 0px;
    }
    .my-work button {
        margin-top: 30px;
    }
    .work-photos-wrapper {
        margin-top: 47px;
    }
    .work-photos-wrapper h4{
        font-size: 30px;
    }
    .work-photos-wrapper p{
        font-size: 9px;
        margin-top: 5px;
    }
    .work-photos-wrapper .line {
        display: none;
        margin-top: 0px;
        height: 2px;
        width: 15px;
    }
    .work-photos-wrapper .hidden-line {
        display: block;
    }
    .text-over-photo {
        margin-top: -150px;
    }
    .text-over-photo h4 {
        font-size: 30px;
    }
    .text-over-photo p {
        font-size: 9px;
        margin-top: 10px;
    }
    .swiper {
        height: 500px;
        margin-top: 47px;
    }
    
    .line {
        display: none;
    }
    .hidden-line {
        display: block;
    }

    /* Work page */
    .briliant-text-over-photo h4 {
        font-size: 38px;
    }
    .briliant-text-over-photo p {
        font-size: 14px;
    }
    .briliant-line1 {
        margin-right: 18px;
    }
    .briliant-line2 {
        margin-left: 18px;
    }
    .briliant-line1, .briliant-line2 {
        height: 4px;
        width: 24px;
    }
    .briliant-text-over-photo {
        margin-top: -150px;
    }
    .briliant-measure {
        height: 263px;
    }
    .albums-wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
        width: 90%;
        margin: 0 auto;
        margin-top: 95px;
        gap: 20px;
    }
    .text-over-photo p span {
        margin-left: 15px;
    }

    /* About Page Location Section */
    .new-york-wrapper {
        height: 300px;
        margin-top: 0px;
    }
    .location-text-wrapper {
        min-height: 324px;
        margin-top: 0px;
    }
    .location-icon-wrapper {
        width: 102px;
        height: 104px;
        margin-top: 30px;
    }
    .location-text-wrapper h3{
        font-size: 30px;
    }
    .location-text-wrapper p {
        font-size: 14px;
        line-height: 24px;
    }
    .location-text-item {
        width: 90%;
    }

    /* About Page question Section */
    .questions-header h4 {
        font-size: 16px;
    }
    .questions-header h2 {
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        margin-top: 10px;
    }
    .questions-wrapper {
        display: block;
    }
    .question-box-hidden {
        display: none;
    }
    .question-paragraph-hidden {
        display: none;
    }
    .question-box {
        margin-top: 18px;
    }
    .question-number {
        font-size: 16px;
        display: inline-block;
        margin-top: 20px;
    }
    .question-text-wrapper {
        margin-top: 0px;
    }
    .question-text-wrapper h3 {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.24px;
        margin-top: 10px;
    }
    .question-text-wrapper p {
        font-size: 14px;
        line-height: 24px;
        margin-top: 10px;
    }
    .questions-wrapper {
        margin-top: 39px;
    }
}